body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#wrapper {
    width: 100%;
}

.container {
    width: 1140px;
    margin: 0px auto;
    position: relative;
}

#header {
    width: 100%;
    min-height: 121px;
    background-color: #23282d;
}

.container>#logo {
    padding-top: 28px;
    padding-bottom: 16px;
    display: flex;
}

.container>#search {
    position: absolute;
    right: 0px;
    top: 28px;
    float: left;
}

/* thay đổi nền search  */

input[type=text] {
    background-color: #131619;
    border: 0px;
    height: 41px;
    padding: 12px;
    margin: 0px;
    float: left;
}

button {
    color: #a2a1a1;
    background-color: #131619;
    border: 0px;
    width: 41px;
    height: 41px;
    margin: 0px;
}

#main-menu {
    float: left;
    padding-inline-start: 0px;
}

#main-menu li {
    list-style-type: none;
    flex: 8%;
    float: left;
    padding-top: 12px;
    padding-right: 41px;
}

#main-menu a {
    text-decoration: none;
    font-weight: bold;
    color: #eeeeee;
}

#main-menu a:hover {
    color: #4db2ec;
}

nav {
    border-right: 12px solid red;
    height: 36px;
}

/* end header  */

.widget-head {
    margin-left: 0px;
}

.widget-head h3 {
    margin-left: 0px;
    margin-top: 34px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3.70px 15px;
    background-color: #23282d;
    color: white;
    max-width: 98px;
}

.widget-body {
    width: 100%;
    height: 350px;
    
    margin-top: 21px;
    box-sizing: border-box;
}

.widget-body ul {
    padding-inline-start: 0px;
    display: flex;
}

.widget-body li {
    list-style: none;
    max-width: 360px;
    margin-right: 30px;
}

.post-thumb {
    height: 240px;
    float: left;
    width: 360px;
    margin-bottom: 20px;
}

.post-title {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #5f5f5f;
    margin-top: 21px;
}

#featured-post {
    display: flex;
}

/* end widget  */

#twocolwrap {
    display: flex;
}

/* thiết lập cho content  */

.content {
    flex: 750px;
    margin-right: 15px;
}

/* thiết lập cho sidebar  */

.sidebar {
    flex: 360px;
    margin-left: 15px;
}

/* phần bài viết mới  */

.content h3 {
    background-color: #4db2ec;
    color: #eeeeee;
    text-transform: uppercase;
    font-size: 16px;
    width: 129px;
    height: 32px;
    padding: 4px 13px;
    margin-bottom: 0px;
}

.wrapper-bottom-h3 {
    border-bottom: 2px solid #4db2ec;
}

/* end bài viết mới  */

.list-post {
    padding-inline-start: 0px;
}

.list-post li {
    list-style: none;
    clear: both;
    float: left;
    padding-top: 32px;
    width: 100%;
    display: flex;
}

#images-post {
    float: left;
    flex: 263px;
    margin-right: 15px;
}

.list-post-text {
    float: left;
    width: 457px;
    margin-left: 15px;
}

.list-post-text a {
    font-size: 21px;
    font-weight: bold;
}

.list-post-text a:hover {
    color: #4db2ec;
    text-decoration: none;
}

.post-date {
    margin: 15px 0px;
    font-size: 11px;
    font-weight: bold;
    color: #111111;
}

.post-date span {
    color: #aaaaaa;
}

.list-post-text p {
    font-size: 13px;
}

/* end .content  */

/* start sidebar  */

.ads {
    margin-bottom: 41px;
}

.topic-follow {
    border-bottom: 1px solid red;
}

.topic-follow h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: red;
    width: 178px;
    height: 29px;
    margin-bottom: 0px;
}

.list-topic {
    padding-inline-start: 0px;
}

.list-topic li {
    list-style: none;
}

.box-body a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

.box-body a:hover {
    color: red;
    text-decoration: none;
}

.box-body li {
    margin-top: 15px;
}

.box-body {
    position: relative;
}

.num-post {
    position: absolute;
    right: 30px;
}

/* end sidebar  */

/* start footer  */

#footer {
    background-color: #2e2f30;
    width: 100%;
    height: 282px;
}

.box-footer {
    display: flex;
    width: 100%;
}

.box-logo {
    padding: 123px 0px;
    float: left;
    display: block;
    width: 263px;
}

.box-logo a {
    float: left;
}

.box-center {
    width: 472px;
    float: left;
    margin-left: 30px;
    margin-right: 195px;
    color: white;
}

.box-head h3 {
    font-size: 18px;
    font-weight: bold;
    padding: 53px 0px 50px;
    color: white;
    text-transform: uppercase;
}

.box-body-footer ul {
    padding-inline-start: 0px;
    display: flex;
    box-sizing: border-box;
}

.box-body-footer li {
    list-style: none;
    float: left;
    margin-right: 11px;
}

.box-body-footer li i {
    font-size: 34px;
    color: white
}

/* end footer  */

#copyright {
    background-color: #222527;
    height: 46px;
    width: 100%;
    padding-top: 11px;
}

.copy-unitop {
    float: left;
    color: white;
    padding-right: 578px;
}

#menu-footer {
    padding-inline-start: 0px;
    display: flex;
}

#menu-footer li {
    list-style: none;
    float: left;
    padding-right: 30px;
   
    font-weight: bold;}
    #menu-footer a{color:white;}

#menu-footer a:hover {
    color: #4db2ec;
    text-decoration: none;
}